<div class="twofas-modal-backdrop js-twofas-modal-confirmation">
    <div class="twofas-modal-container">
        <div class="twofas-modal-cell">
            <div class="twofas-modal">
                <h5>{{ esc_html__( 'Do you want to change the actual QR code?', '2fas-light' ) }}</h5>
                <p>
                    {{
                    sprintf(
                        esc_html__('If you have already scanned the QR code you will %sneed to scan the new one and remove the configuration %sbased on the previous QR code.', '2fas-light'),
                        '<br />',
                        '<br />'
                    )|raw
                    }}
                </p>

                <div class="twofas-modal-close">
                    <button class="twofas-btn-close js-twofas-modal-cancel">
                        <img src="{{ twofas_light_plugin_path ~ 'assets/img/close.svg' }}" alt="{{ esc_attr__( 'Close', '2fas-light' ) }}" />
                    </button>
                </div>

                <div class="twofas-modal-buttons">
                    <a href="#" class="twofas-btn-empty js-twofas-confirmation-confirm">{{ esc_html__( 'Yes, proceed', '2fas-light' ) }}</a>
                    <a href="#" class="twofas-btn js-twofas-modal-cancel">{{ esc_html__( 'Cancel', '2fas-light' ) }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
