<div class="twofas-rate-plugin-prompt js-twofas-rate-plugin-prompt-box">
    <div class="twofas-rate-plugin-prompt-header">
        <h6>{{ esc_html__( 'Give us your feedback!', '2fas-light' ) }}</h6>
    </div>
    <div class="twofas-rate-plugin-prompt-content">
        <p>{{ esc_html__( 'Thank you for using 2FAS Prime and basically making your life safer! We would appreciate your opinion. Let us know and help us grow!', '2fas-light' ) }}</p>
    </div>
    <div class="twofas-rate-plugin-prompt-buttons">
        <button type="button" class="twofas-btn-empty js-twofas-close-rate-prompt">{{ esc_html__( 'No, thank you', '2fas-light' ) }}</button>
        <button type="button" class="twofas-btn js-twofas-postpone-rate-prompt">{{ esc_html__( 'Ask me later', '2fas-light' ) }}</button>
        <a href="https://wordpress.org/support/plugin/2fas-light/reviews" target="_blank" rel="noreferrer noopener" class="twofas-btn twofas-btn-external js-twofas-close-rate-prompt">{{ esc_html__( 'Sure! Take me to wordpress.org', '2fas-light' ) }}</a>
    </div>
</div>
