<table>
    {% if trusted_devices is not empty %}
      <thead>
          <tr>
              <th colspan="2">{{ esc_html__('Added to trusted browsers and devices list', '2fas-light') }}</th>
              <th colspan="2">{{ esc_html__('Last log in from this device', '2fas-light') }}</th>
              <th></th>
          </tr>
      </thead>
    {% endif %}
    <tbody>
        {% if trusted_devices is empty %}
            <tr class="twofas-light-no-devices-row">
                <td colspan="5" class="twofas-light-no-devices-column">
                    <h5>{{ esc_html__("You don't have any trusted web browsers/devices.", '2fas-light')|raw }}</h5>
                </td>
            </tr>
        {% else %}
            <tr class="twofas-light-trusted-devices-subhead">
              <td>{{ esc_html__('Browser on a device', '2fas-light') }}</td>
              <td>{{ esc_html__('When', '2fas-light') }}</td>
              <td>{{ esc_html__('Date and time', '2fas-light') }}</td>
              <td>{{ esc_html__('IP Address', '2fas-light') }}</td>
              <td></td>
            </tr>
            {% for trusted_device in trusted_devices %}
                <tr>
                    <td>
                        {{ parse_browser(trusted_device.user_agent) }}
                    </td>
                    <td data-timestamp-to-format="{{ trusted_device.created_at|e('html_attr') }}">
                        {{ timestamp_to_wp_datetime(trusted_device.created_at) }}
                    </td>
                    <td data-timestamp-to-format="{{ trusted_device.last_logged_in|e('html_attr') }}">
                        {{ trusted_device.last_logged_in is empty ? esc_html__('No information', '2fas-light') : timestamp_to_wp_datetime(trusted_device.last_logged_in) }}
                    </td>
                    <td>
                        {{ trusted_device.ip }}
                    </td>
                    <td>
                        <button class="twofas-light-trusted-devices-remove js-twofas-remove-trusted-device" data-device="{{ trusted_device.device_id }}">
                            <span>{{ esc_html__('Remove', '2fas-light') }}</span>
                            <img src="{{ twofas_light_plugin_path ~ '/assets/img/remove.svg' }}" alt="{{ esc_attr__('Remove trusted browser', '2fas-light') }}" />
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
