{% if twofas_light_login_error is not null %}
    {{ login_header('Enter your token', '', twofas_light_login_error) }}
{% else %}
    {{ login_header('Enter your token', '') }}
{% endif %}

<form method="post" action="{{ login_form_action_url }}" id="twofas-light-loginform" class="twofas-light-login-form">
    <p class="login-username">
        <label for="twofas_code">{{ esc_html__( 'Enter your token:', '2fas-light' ) }}</label>
        <input type="text"
               name="twofas_light_totp_token"
               id="twofas_code"
               autocomplete="off"
               minlength="6"
               maxlength="6"
               pattern="\d{6}"
               title="Six digits"
               required="required"
               autofocus="autofocus"/>
    </p>
    {% include "includes/authentication_hidden_inputs.html.twig" %}

    <input type="hidden" name="twofas_light_action" value="{{ actions['verify_totp_code'] }}"/>

    {% if remember_browser_allowed %}
    <p class="forgetmenot">
        <input type="checkbox"
               name="twofas_light_remember_device"
               id="twofas_light_device_checkbox"
                {{ remember_device ? 'checked' : '' }} />
        <label for="twofas_light_device_checkbox">{{ esc_html__( 'Remember browser', '2fas-light' ) }}</label>
    </p>
    {% endif %}

    <p class="submit">
        <input class="button button-primary button-large" type="submit" name="wp-submit" id="wp-submit" value="{{ esc_attr__( 'Log In', '2fas-light' ) }}"/>
    </p>
</form>
<div class="twofas-light-login-nav">
    <div class="twofas-light-login-nav-wrapper">
        <div class="twofas-light-table-wrapper">
            <div class="twofas-light-login-nav-message">
                {% if offline_codes_count > 0 %}
                    <form method="post" action="{{ login_url }}" class="twofas-light-login-nav-form">
                        <div>
                            {% include "includes/authentication_hidden_inputs.html.twig" %}
                            <input type="hidden" name="twofas_light_action" value="{{ actions['log_in_with_backup_code'] }}"/>
                        </div>

                        <input type="submit" class="button-link" value="{{ esc_attr__('Log in with the one-time backup code', '2fas-light') }}"/>
                    </form>
                {% endif %}
                <section class="twofas-login-another-account">
                    <form action="{{ login_url }}" method="post" class="twofas-light-login-nav-form">
                        {% if interim_login %}
                            <input type="hidden" name="interim-login" value="{{ interim_login }}"/>
                        {% endif %}
                            <input type="hidden" name="twofas_light_action" value="{{ actions['stop_login_process'] }}"/>
                            <input type="submit" class="button-link" value="{{ esc_attr__('Log in to another account', '2fas-light') }}"/>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>

{{ login_footer() }}
