<div class="twofas-card-body-1 js-twofas-step-card" data-step="1">
    <picture>
        <source srcSet="{{ twofas_light_plugin_path ~ 'assets/img/phone@2x.png' }} 2x, {{ twofas_light_plugin_path ~ 'assets/img/phone.png' }} 1x" type='image/png' />
        <img src="{{ twofas_light_plugin_path ~ 'assets/img/phone.png' }}" alt="2FAS Auth" />
    </picture>


    <div class="twofas-card-body-1-content">
        <h4>{{ esc_html__( 'Download 2FAS Authenticator app from Google Play or AppStore to start using 2FA.', '2fas-light' ) }}</h4>

        <div class="twofas-card-body-1-content-stores">
            <a href="https://play.google.com/store/apps/details?id=com.twofasapp" target="_blank" rel="noopener">
                <img src="{{ twofas_light_plugin_path ~ 'assets/img/google-play.svg' }}" alt="2FAS Auth - Google Play" />
            </a>
            <a href="https://itunes.apple.com/us/app/2fas-auth/id1217793794?mt=8" target="_blank" rel="noopener">
                <img src="{{ twofas_light_plugin_path ~ 'assets/img/app-store.svg' }}" alt="2FAS Auth - App Store" />
            </a>
        </div>
    </div>
</div>
