<div class="twofas-card-body-2 js-twofas-step-card hidden" data-step="2">
    <div class="twofas-card-body-2-qr">
        <img id="qr_code" class="twofas-light-qr-code js-twofas-qr-image" src="{{ qr_code }}" alt="TOTP" />

        <button class="twofas-btn-empty twofas-qr-refresh-btn js-twofas-reload-qr-button">
            <img src="{{ twofas_light_plugin_path ~ 'assets/img/refresh.svg'}}" alt="{{ esc_attr__( 'The QR - refresh', '2fas-light' ) }}" />
            <span>{{ esc_html__( 'Refresh', '2fas-light' ) }}</span>
        </button>
    </div>

    <div class="twofas-card-body-2-content">
        <h4>{{ esc_html__( 'Scan the QR code using your 2FAS mobile app.', '2fas-light' ) }}</h4>
        <p>
        {{
            sprintf(
                esc_html__('Alternatively, you can enter the Service Key manually%s%sClick here to see the Service Key%s', '2fas-light'),
                '<br/>',
                '<a href="#" class="js-twofas-show-private-key">',
                '</a>'
            )|raw
        }}
        </p>
    </div>
</div>
